ol {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 35px;
    padding: 15px 0 5px 0;
    font-size: 18px;
}

ol li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
}

ol li:before {
    content: counter(num) '.';
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -26px;
    width: 20px;
    color: #2fe447;
    text-align: right;
}

.curisv_style {
    font-style: italic;
}

.contact_style {
    font-weight: bold;
}

.ol_list {
    outline: 1px;
    outline-color: blue;
    outline-style: dotted;
    margin-top: 1%;
}

.goal_article {
    font-style: oblique;
}

.bold_style {
    font-weight: bold;
}

.avatar_img {
    width: 80px;
    height: 70px;
}